/*  ESTILOS GERAIS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e6f3e6;
    color: #2d3a2d;
}

/* CABEÇALHO  */
header {
    background: #1b5e20;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/*SEÇÕES  */
section {
    margin: 30px auto;
    width: 90%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.destaque {
    text-align: center;
    background: #d6f5d6;
}

/*GALERIA  */
.galeria .grid-imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.galeria img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/*RODAPÉ */
.rodape {
    background: #1b5e20;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    text-align: center;
    animation: fade-up 1.3s ease-out;
}

.rodape-coluna h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #c8e6c9;
    text-transform: uppercase;
    font-weight: bold;
}

.rodape-coluna p {
    margin: 6px 0;
    font-size: 15px;
}

.rodape a {
    color: #a5d6a7;
    text-decoration: none;
    font-weight: bold;
}

.rodape a:hover {
    text-decoration: underline;
}

.logo-rodape {
    width: 150px;
    animation: zoom-in-out 6s infinite alternate ease-in-out;
}

/*ANIMAÇÕES*/
@keyframes zoom-in-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.12);
    }
}

@keyframes entrar-esquerda {
    from {
        transform: translateX(-80px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entrar-topo {
    from {
        transform: translateY(-80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entrar-baixo {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animar-esquerda {
    animation: entrar-esquerda 1s ease-out forwards;
}

.animar-topo {
    animation: entrar-topo 1s ease-out forwards;
}

.animar-baixo {
    animation: entrar-baixo 1s ease-out forwards;
}

.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s;
}

.fade-in.aparecer {
    opacity: 1;
    transform: translateY(0);
}

/* Fade-up do rodapé */
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}